{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
	<h1>Profile</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.nom) }}
	{{ form_row(registrationForm.prenom) }}
	{{ form_row(registrationForm.age) }}
	{{ form_row(registrationForm.adresse) }}
	{{ form_row(registrationForm.telephone) }}
	{{ form_row(registrationForm.email) }}


	<button type="submit" class="btn btn-primary">Mise à jour de profile</button>
	{{ form_end(registrationForm) }}
{% endblock %}
