{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container-log">
		<div class="wrapper">

			<h5>Register</h5>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}


			<div class="input-box">
				{{ form_row(registrationForm.nom) }}
				<i class='bx bxs-user'></i>
			</div>

			<div class="input-box">
			{{ form_row(registrationForm.prenom) }}
			</div>

			<div class="input-box">
			{{ form_row(registrationForm.age) }}
			</div>
	
			<div class="input-box">
			{{ form_row(registrationForm.adresse) }}
			</div>

			<div class="input-box">
			{{ form_row(registrationForm.telephone) }}
			</div>
			
			
			<div class="input-box">
			{{ form_row(registrationForm.email) }}
			<i class='bx bxs-envelope'></i>
			</div>

			<div class="input-box">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        	}) }}
			<i class='bx bxs-lock-alt'></i>
			</div>
		
			<div class="input-box">
			{{ form_row(registrationForm.agreeTerms) }}
			</div>

			<button type="submit" class="btn btn-primary">Register</button>
			{{ form_end(registrationForm) }}

			<div class="register-link">
				<p>Already a member?</p>
				<a href="{{ path('app_login') }}">Login</a>
			</div>

		</div>
	</div>

{% endblock %}

